<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JSP_Example_31</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<display-name>File Upload Servlet</display-name>
	<description>
		Servlet Demos
	</description>
	<context-param>
		<param-name>download-dir</param-name>
		<param-value>download_files</param-value>
	</context-param>
	<servlet>
		<servlet-name>exercise1</servlet-name>
		<servlet-class>servlet.Exercise1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exercise1</servlet-name>
		<url-pattern>/exercise1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>exercise2</servlet-name>
		<servlet-class>servlet.Exercise2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exercise2</servlet-name>
		<url-pattern>/exercise2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>exercise3</servlet-name>
		<servlet-class>servlet.Exercise3</servlet-class>
		<init-param>
			<param-name>file_path</param-name>
			<param-value>/files</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>exercise3</servlet-name>
		<url-pattern>/exercise3</url-pattern>
	</servlet-mapping>
</web-app>